*{
    margin: 0;
    padding: 0;
}

.submit-btn {
    padding: 5px 20px;
    margin: 1rem 0rem 3rem 0rem;
    border: 2px solid #E73700;
    border-radius: 25px;
    background-color: #fff;
    color: #E73700;
    transition: all 200ms ease;
}
.submit-btn:hover {
    background-color: #E73700;
    color: #fff;
    border: 2px solid#fff;
}


.first-col {
    background-color: #E73700;
    color: #fff;
    height: 100%;
}

.colq {
    display: flex;
    align-items: center;
    flex-direction: column ;
    background-color: #E73700;
    height: auto !important; ;
    padding-top:2rem ;
    color: #fff;
    font-size: smaller;;
}
.contact-title {
    background-color: #E73700;
    color: #fff;
    padding: 2rem 5rem 0rem 5rem; ;
}

.contact-title p {
    color: #fff;
    text-align: center;
}
.contact-card  {
    min-width: auto !important;
    height: 0 auto;
    display: flex;
    flex-direction: column;
}
.contact-card .icon img {
    width: 1.5rem;
    margin: 20px 0px 10px 20px;
}
.contact-card-content{
    margin: 0px 0px 0px 20px ;
    width: 20rem;
}
.contact-card-content h3 {
    font-weight: 600;
    color: #252525;
}
.contact-card-content p {
    color: #3e3e3e;
}
.contact-card-content h5{
    margin-bottom: 20px;
}

.contact-cards {
    
    margin-top: 3rem;
    
    justify-content: center;
}
.col-map iframe{
    width: 100%;
    height: 90%;
    margin: 1rem;
}