.product-banner{
    width: 100%;
    height: 50hv;
    padding-top: 15rem;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../src/images/promocion-radioV.png)
}

.product-banner-content{
    text-align: center;
}

.product-banner-content h1{
    color: white;
}