@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.b-login {
    background-color:#666568;
}
.bordes01 {
    border-radius: 25px;
   
}

.cards-container {
    scroll-snap-type: x mandatory;
    margin-top: 2rem;    
}
.card-content {
    scroll-snap-align: start;
    border-radius: 25px;
    box-shadow: 0px 10px 39px -19px rgba(0,0,0,0.75);
    transition: all 200ms ease;
    padding: 10px;
}
.card-content:hover{
    transform: translateY(-3px);
} 
.card-title {
    font-weight: 700;
}
.card-price p {
    font-size: 1.5rem;
    font-weight: 700;
}
.buy-button{
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid #252525;
    color: #252525;
    border-radius: 25px;
    transition: all 200ms ease;
}
.buy-button:hover{
    color: #fff;
    background-color: #252525;
}

.img1 {
    width: auto;
    height: 80%;
    margin-right: 50px;
}

strong {
    background-color: #E73700;
    color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
}

del {
    color: #454545
}
.card-text {
    display: flex;
    align-items: center;
    gap: 9px;
}
.banner-text {
    height: auto;
    display: flex;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px 0px 0px 25px;
}
.banner-text h2 {
    font-weight: 600;
    font-size: 2.5rem;
    width: 79%;
}
.color-word{
    color: #E73700;
}
.sesion-buttons{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;

}
.login-button {
    text-decoration: none;
    color:#fff;
    background-color: #252525;
    
    padding: 10px 35px;
    text-align: center;
    border-radius: 25px;
    text-transform: capitalize;
    transition: all 200ms ease;
}
.login-button:hover{
    color: #fff;
    background-color: #E73700;
    
}
.register-button {
    text-decoration: none;
    color: #E73700;
    border: 2px solid #E73700;;
    padding: 10px 35px;
    border-radius: 25px;
    text-transform: capitalize;
    transition: all 200ms ease;
}
.register-button:hover{
    color: #fff;
    background-color: #E73700;
}
.banner-pic{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 25px 25px 0;
    
}
.banner-pic img {
    width: 85%;
    height:auto ;
    object-fit:contain;
}

.section-banner{
    background-color: #E73700;
    padding: 3rem 0;
}
.section-banner .container .row{
    background-color: #fff;
    height: auto;
    border-radius: 25px;
}

.img1 {
    border-radius: 10%;
}

.fondoregister {
    background-color: rgb(189, 121, 54);
    border-radius: 25px;
    
}
.imgvintage {
    max-width: 360px;
    height: auto;
    border-radius: 25px;
}
.categories{
    padding-top: 3rem;
}
.categories-title,
.offers-title {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.categories-title h3,
.offers-title h3 {
    font-weight: 600;
}
.offers-title{
    margin-top: 3rem;
}
.categories-title p {
    color: #454545;
}
.cat-img{
    border-radius: 25px;
}
.categories-card h4 {
    text-align: center;
}
.categories-card{
    margin-top: 1rem;    
}

@media screen and (max-width: 768px) {
    .section-banner {
      display: none;
    }
  }